<section id='title'>
  <h1>Speakeasy</h1>
</section>

<section id='space_container'></section>

<img id='flowchart' src='../assets/welcome/flow.png'>

<section id='space_container'></section>

<div class='profile_images'>
  <h2>Speakeasy<br>Creators</h2>
    <a href='https://github.com/cosmicspagetti'><img src='../assets/welcome/billy.png'></a>
    <a href='https://github.com/davehardy632'><img src='../assets/welcome/david.png'></a>
    <a href='https://github.com/james-cape'><img src='../assets/welcome/james.png'></a>
</div>

<section id='space_container'></section>
